<VirtualHost *:80>
    DocumentRoot /var/www/{{ doc_root }}
    ServerName {{ server_host_name }}

    <IfModule mod_setenvif.c>
        SetEnvIf Request_URI "default\.ida" worm other
        SetEnvIf Request_URI "cmd\.exe" worm other
        SetEnvIf Request_URI "root\.exe" worm other
        SetEnvIf User-Agent "OpenVAS" block
    </IfModule>

    <Directory /var/www/{{ doc_root }}>
        AllowOverride All
        <RequireAll>
            Require all granted
            Require not env worm
            Require not env block
        </RequireAll>
    </Directory>

    ErrorLog logs/{{ server_host_name }}-error_log
    CustomLog logs/{{ server_host_name }}-access_log combined env=!other
    CustomLog logs/{{ server_host_name }}-worm_log combined env=worm

    # Let's Encrypt
    Alias /.well-known /var/www/certbot/{{ server_host_name }}/.well-known
</VirtualHost>